#bcid{
    position: absolute;
    top:50px;
    left:0;
    width:100%;
    height:100vh;
    background: rgba(0,0,0,0.6);
}
.my-head{
    position: fixed;
    top:0;
    left:0;
    z-index: 10000;
}