.upload-container {
  width: 100%;
  padding: 0.2rem 0;
  overflow: hidden;
  border-bottom: 1px solid #eee;
}

.upload-container {
  float: left;
  position: relative;
  overflow: hidden;
  height: 2rem;
  // margin-left: 35%;
  // margin-top: 10%;

  .headerImg {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: absolute;
    top: .2rem;
    left: 0;
  }

  .headerInput {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    float: left;
    opacity: 0;
    position: absolute;
    top: .2rem;
    left: 0;
    z-index: 1000;
  }

  .top-user {
    width: 2rem;
    height: 0.7rem;
    border-radius: 0.5rem;
    margin-top: 0.7rem;
    margin-left: 2.2rem;
    font-size: 0.3rem;
    line-height: 0.7rem;
    text-align: center;
    color: #fff;
    background-color: #f00;
  }
}