.sub-title {
    color: #000;
    font-size: 14px;
    padding: 15px 0 9px 30px;
    // margin-left: 30px;
    background-color: #fff;
}

.nav-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    margin-top: -20px;
    background-color: #fff;

    li {
        margin-bottom: 15px;
        float: left;

        img {
            width: 225px;
            height: 200px;
        }
    }
}